# OpenStack Authentication
OS_AUTH_URL=http://94.130.8.184/identity
OS_USERNAME=admin
OS_PASSWORD=your-password
OS_PROJECT_ID=0da37ac20df947458bd9f10e36938a16
OS_PROJECT_NAME=admin
OS_USER_DOMAIN_NAME=Default
OS_REGION_NAME=ke-1a
OS_DOMAIN_NAME=Default
OS_IDENTITY_API_VERSION=3

# API Configuration
PORT=8080
JWT_SECRET=your-jwt-secret-key 